<title>Add to Future Reading</title>
<body>
<h3 align="center">Add a Book to Your Future Reading List</h3>
<p></p>
<form action="/new_book" method="post">
    <label> Title: </label><br>
    <input type="text" name="title" placeholder="Book Title *">
    <p>
        <label> Author: </label><br>
        <input type="text" name="author" placeholder="Book Author *">
    <p>
        <input type="submit" value="Add a book">
</form>
</body>
{% extends "layout.html" %}
{% block content %}
{{ super() }}
{% endblock %}