 <link rel='stylesheet' href="../static/css/base.css">
{% extends "layout.html" %}
{% block title %}Add to Future Reading{% endblock %}
{% block content %}
    <body>
    {{ super() }}
    <nav class="navbar-default">
        <div class=" formbox">
            <form action="/new_book" method="post">
                <h3 style="background-color: #EFFBFB" >Add to Your Future Reading List</h3>
                <label> Title: </label><br>
                <input type="text" name="title" placeholder="Book Title *">
                <p>
                    <label> Author: </label><br>
                    <input type="text" name="author" placeholder="Book Author *">
                <p>
                    <input type="submit" value="Add a book">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

            </form>
        </div>
    </nav>
    </body>
{% endblock %}