<!DOCTYPE html>
<html lang="en">
<style>
input[type=text], select {
  width: 85%;
  padding: 8px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 1px;
  box-sizing: border-box;
}

input[type=submit] {
 width: 85%;
  background-color: #4CAF50;
  color: white;
  padding: 5px 10px;
  margin: 4px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 5px;
  width: 40%;
  border-style: solid;
  border-width: 3px;
  border-color: black;

}
.form-style-6{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
}
.form-style-6 h1{
	background: #43D1AF;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Title</title>
        <nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
      <div>

      <td>

<button id="myButton4" style="background-color: slateblue" class="float-left submit-button" >Current bestsellers</button>
          <script type="text/javascript">
    document.getElementById("myButton4").onclick = function () {
        location.href = "/bestsellers";
    };

</script>
      </td>
                       <td>

<button id="myButton9" style="background-color: darkolivegreen"class="float-left submit-button" >Summaries by book title</button>
          <script type="text/javascript">
    document.getElementById("myButton9").onclick = function () {
        location.href = "/summary";
    };
</script>
      </td>
                       </div>
             <td>
<button id="myButton8" style="background-color: #66afe9" class="float-left submit-button" >Summaries by author</button>
          <script type="text/javascript">
    document.getElementById("myButton8").onclick = function () {
        location.href = "/summary2";
    };
</script>
      </td>

                <td>
<button id="myButton3" style="background-color: lightgreen" class="float-left submit-button" >My Reading List</button>
<script type="text/javascript">
    document.getElementById("myButton3").onclick = function () {
        location.href = "/books_to_read_list";
    };
</script>
     </td>
      </div>

                        <td>
<button id="myButton10" style="background-color: deepskyblue" class="float-left submit-button" >Currently Reading List</button>
          <script type="text/javascript">
    document.getElementById("myButton10").onclick = function () {
        location.href = "/my_current_books";
    };
</script>
                        </td>
                        <td>
<button id="myButton6" style="background-color:aquamarine" class="float-left submit-button" >Books-Read List</button>
          <script type="text/javascript">
    document.getElementById("myButton6").onclick = function () {
        location.href = "/my_books_read";
    };
</script>
      </td>
    </nav>
        <nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
          <td>
<button id="myButton11"  style="background-color: #afd9ee"  class="float-left submit-button" > Add to books your <b>Current Reading</b> List</button>
          <script type="text/javascript">
    document.getElementById("myButton11").onclick = function () {
        location.href = "/add_current_book";
    };
</script>
      </td>
      <td>
          <button id="myButton2"  style ="background-color: #e4b9c0"class="float-left submit-button" >Add a new book to your <b>Reading</b> List </button>
<script type="text/javascript">
    document.getElementById("myButton2").onclick = function () {
        location.href = "/new_book";
    };
</script>
      </td>
           <td>
               <button id="myButton7" style ="background-color: #faebcc" class="float-left submit-button" >Add a book to your <b>Books-Read</b> List</button>
<script type="text/javascript">
    document.getElementById("myButton7").onclick = function () {
        location.href = "/add_book";
    };
</script>
     </td>

    <td>
<button id="myButton12" style= "background-color: #67b168" class="float-left submit-button" >View Statistics</button>
          <script type="text/javascript">
    document.getElementById("myButton12").onclick = function () {
        location.href = "/stats";
    };
</script>
      </td>
          <td>
<button id="myButton5"  style= "background-color: #1b6d85" class="float-left submit-button" >Log out</button>
<script type="text/javascript">
    document.getElementById("myButton5").onclick = function () {
        location.href = "/logout";
    };
</script>
     </td>
                  <td>
<button id="myButton" class="float-left submit-button" >Home</button>
<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "/home";
    };
</script>
     </td>
  </div>
             </div>
             </div>
    </nav>
</head>
<body>
<h3>Add a book to your current book list!</h3>
 <div class="box">
<form action="/add_current_book" method="post">
    <label><b>Title:</b></label><br>
    <input type="text" name="title" placeholder="Book Title *"><br>
    <label><b>Author:</b></label><br>
    <input type="text" name="author" placeholder="Author Name *"><br>
    <label><b>Genre:</b></label><br>
    <input type="text" name="genre" placeholder="Book Category (thriller, programming...)"><br>
     <label><b>Summary:</b></label><br>
    <input type="text" name="plot_summary" placeholder ="A short description of what the book is about"><br>
    <label><b>Current page:</b></label><br>
    <input type="number" name="current_page" placeholder="Page you're on *"><br>
    <label><b>Page Count:</b></label><br>
    <input type="number" name="pages" placeholder="Total page count *"><br>
<input type="submit" value="Submit">
</form>
 </div>
</body>
</html>