{% extends "layout.html" %}
{% block title %}Add Link{% endblock %}
{% block content %}
    {{ super() }}
    <body>
    <nav class="navbar-default">
        <div class=" formbox">
            <form action="/add_link" method="post">
                <h3 style="background-color: #EFFBFB">Add a Useful Link</h3>
                <label> Title: </label><br>
                <input type="text" name="title" placeholder="Link Title *">
                <p>
                    <label> Url: </label><br>
                    <input type="text" name="url" placeholder="Url *">
                <p>
                    <input type="submit" value="Add a link">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

            </form>
        </div>
    </nav>
    </body>
{% endblock %}