<link rel='stylesheet' href="../static/css/base.css">
<link rel='stylesheet' href="../static/css/form.css">
{% extends "layout.html" %}
{% block title %}Add Link{% endblock %}
{% block content %}
    {{ super() }}
    <body>
    <nav class="navbar-default">
        <form action="/add_link" method="post" class="form-style-6">
            <div class="form">
                <h3 style="background-color: #EFFBFB">Add a Useful Link</h3>
                <label> Title: </label><br>
                <input type="text" name="title" placeholder="Link Title *">
                <p>
                    <label> Url: </label><br>
                    <input type="text" name="url" placeholder="Url *">
                <p>
                    <input type="submit" value="Add a link">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                </p>
            </div>
        </form>
    </nav>
    </body>
{% endblock %}