<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<h2>Add a book to your Books-Read List!</h2>
<form action="/add_current_book" method="post">
    Title: <input type="text" name="title">
    <p></p>
    Author: <input type="text" name="author">
    <p></p>
    Genre: <input type="text" name="genre">
    <p></p>
    Plot Summary: <input type="text" name="plot_summary">
    <p></p>
    Current Page: <input type="text" name="current_page">
    <p></p>
    Number of Pages: <input type="text" name="pages">
    <p></p>
<input type="submit" value="Submit">
</form>
      <td>
<button id="myButton" class="float-left submit-button" >Home</button>
<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "/home";
    };
</script>
     </td>
      <td>
<button id="myButton5" class="float-left submit-button" >Log out</button>
<script type="text/javascript">
    document.getElementById("myButton5").onclick = function () {
        location.href = "/logout";
    };
</script>
     </td>
</body>
</html>