<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>My Reading List:</h2>
<tr>
      <script>
        let choice =""
        let s2 =""
        let x=""
    </script>
<ol size ="small", type = "1" >
      {% for item in items %}
  <li> {{item}}</li>
     {% endfor %}
</ol>
</tr>
<p>
      <td>
<button id="myButton5" class="float-left submit-button" >Log out</button>
<script type="text/javascript">
    document.getElementById("myButton5").onclick = function () {
        location.href = "/logout";
    };
</script>
     </td>
</p>
<td>
<button id="myButton" class="float-left submit-button" >Home</button>

<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "/home";
    };
</script>
</td>
</body>
</html>