<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<h3>New York Times Best Seller List</h3>
<p>{{ message }}</p>
<div>
<ol size ="small", type = "1" >
    <script>
        let choice =""
        let s2 =""
        let x=""
    </script>
      {% for item in items %}
    <li> {{item}}</li>
     {% endfor %}
</ol>
    </div>

<!--<td>
    <select name="item" >
  <option size= "large", value="{{items[0]}}" selected>{{items[0]}}</option>
        x = []
  {% for item in items[:] %}
    <option value="{{item}}">{{item}}</option>
x = {{item}}.split(", "}}
        print(x[0])
    <script>
&lt;!&ndash;    add functionality to add books to "books to read" list&ndash;&gt;
choice = `${{item}}`
s2 = choice.substr(1);
x = s2.split(", ")
console.log('full entry', x)
console.log('Title: ', x[0])
console.log('Author: ', x[1])

</script>

  {% endfor %}
</select>
</td>
<td>
    <script>
function hello() {
 alert(`You chose: ${x[0]} by ${x[1]}.`);
}
</script>
    <button onclick="hello()">add choice</button>
</td>-->
      <td>
<button id="myButton2" class="float-left submit-button" >Add a new book</button>

<script type="text/javascript">
    document.getElementById("myButton2").onclick = function () {
        location.href = "/newBook";
    };
</script>
      </td>
      <td>
<button id="myButton5" class="float-left submit-button" >Log out</button>
<script type="text/javascript">
    document.getElementById("myButton5").onclick = function () {
        location.href = "/logout";
    };
</script>
     </td>

</body>
</html>
