<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<h3>New York Times Best Seller List</h3>
<p>{{ message }}</p>
<div>
<ol size ="small", type = "1" >
      {% for item in items %}
    <li> {{item}}</li>
     {% endfor %}
</ol>
    </div>
<td>
    <select name="item" >
  <option size= "large", value="{{items[0]}}" selected>{{items[0]}}</option>
  {% for item in items[:] %}
    <option value="{{item}}">{{item}}</option>
    <script>
<!--    add functionality to add books to "books to read" list-->
const choice = `${{item}}`
function hello() {
    alert(`you chose: ${choice}`);
}
</script>

  {% endfor %}
</select>
</td>
<td>
    <script>
<!--    add functionality to add books to "books to read" list-->
function hello() {
 alert(`you chose: ${choice}`);
}
</script>
    <button onclick="hello()">add choice</button>
</td>

</body>
</html>
