{% extends "layout.html" %}
<title>Community</title>
{% block content %}
<body>
{{ super() }}
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    {% if admin %}
    <H6>Admin View</H6>
    <div>
        <h2 style="background-color: #EFFBFB"><b>Community</b></h2>
        <div align="left">
            <img src="../static/images/quote_seuss0.jpg" style="width:350px;height:250px;" alt="Quote">
            <p></p>
            <p></p>
        </div>
        <div class="infobox">
            <h3 style="background-color: #EFFBFB">Useful Links</h3>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Link</th>
                </tr>
                </thead>
                {% for link in links %}
                <tr>
                    <td><b>{{link.1}}</b></td>
                    <td><a href={{link.2}}> {{link.2}}</a></td>
                    <td>
                        <form method="GET" action="{{url_for('delete_link', link_id=link[0]) }}">
                            <input type="submit" onclick="return clicked();" value="Delete Link"/></form>
                        <script type="text/javascript">
                            function clicked() {
                                return confirm('Are you sure you want to delete the link?');
                            }
                        </script>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="infobox">
            <div>
                <tr>
                    <h3 class="inline-headers h3" style="background-color: #EFFBFB">User Count</h3>
                    <p><b>Number of app users:</b> {{count}}</p>
                    <h3 class="inline-headers h3" style="background-color: #EFFBFB">Book Count Per User</h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Username</th>
                            <th scope="col">Book Count</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in items %}
                        <tr>
                            <td> {{item.0}}</td>
                            <td> {{item.2}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
            </div>
            <tr>
                <div class="infobox">
                    <h3 class="inline-headers h3" style="background-color: #EFFBFB">Books Currently Read by App Users</h3>
                    <ul>
                        {% for book in books %}
                        <li>
                            <th> {{ book }}</th>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </tr>
        </div>
        </tr>
    </div>
</div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="infobox">
        <h3 style="background-color: #EFFBFB">Books Read by App Users</h3>
        <ul>
            {% for book in read_books %}
            <li>
                <th> {{ book }}</th>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="infobox">
        <h3 class="inline-headers h3" style="background-color: #EFFBFB">Books Reviewed by App Users</h3>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Comment</th>
                <th scope="col">Rating</th>
                <th scope="col">User</th>
            </tr>
            </thead>
            <tbody>
            {% for comment in comments %}
            <tr>
                <td><b>{{comment.1}}</b></td>
                <td>{{comment.2}}</td>
                <td>{{comment.3}}</td>
                <td> Reviewed by {{comment.4}}</td>
                <td>
                    <form method="GET" action="{{url_for('delete_review', book_id=comment[0]) }}">
                        <input type="submit" onclick="return clicked();" value="Delete Review"/></form>
                    <script type="text/javascript">
                        function clicked() {
                            return confirm('Are you sure you want to delete the link?');
                        }
                    </script>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
</body>
{% endif %}
{% if not admin %}
<div>
    <h2 style="background-color: #EFFBFB"><b>Community</b></h2>
    <div align="left">
        <img src="../static/images/quote_seuss0.jpg" style="width:350px;height:250px;" alt="Quote">
        <p></p>
        <p></p>
    </div>
    <div class="infobox">
        <h3 style="background-color: #EFFBFB">Useful Links</h3>
        <ul align="left">
            {% for link in links %}
            <li>
                <td><b>{{link.0}}</b></td>
                <td><a href={{link.1}}> {{link.1}}</a></td>
            </li>
            {% endfor %}
        </ul>
        </aside>
    </div>
    <div class="infobox">
        <div>
            <tr>
                <h3 class="inline-headers h3" style="background-color: #EFFBFB">User Count</h3>
                <p><b>Number of app users:</b> {{count}}</p>
                <h3 class="inline-headers h3" style="background-color: #EFFBFB">Book Count Per User</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Book Count</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}
                    <tr>
                        <td> {{item.0}}</td>
                        <td> {{item.2}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
        </div>
        <tr>
            <div class="infobox">
                <h3 class="inline-headers h3" style="background-color: #EFFBFB">Books Currently Read by App Users:</h3>
                <ul>
                    {% for book in books %}
                    <li>
                        <th> {{ book }}</th>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </tr>
    </div>
    </tr>
</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="infobox">
        <h3 style="background-color: #EFFBFB">Books Read by App Users</h3>
        <ul>
            {% for book in read_books %}
            <li>
                <th> {{ book }}</th>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="infobox">
        <h3 class="inline-headers h3" style="background-color: #EFFBFB">Books Reviewed by App Users</h3>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Comment</th>
                <th scope="col">Rating</th>
                <th scope="col">User</th>
            </tr>
            </thead>
            <tbody>
            {% for comment in comments %}
            <tr>
                <td><b>{{comment.1}}</b></td>
                <td>{{comment.2}}</td>
                <td>{{comment.3}}</td>
                <td> Reviewed by {{comment.4}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
{% endif %}
</body>

{% endblock %}