{% extends "layout.html" %}
<title>Future Reading List</title>
{% block content %}
    <body>
        {{ super() }}
        <div class="infobox">
        <h2 align="center " style="background-color: #EFFBFB"> {{ session.username }}'s Future Reading List:</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col"> </th>
                <th scope="col"> </th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.1 }}</td>
                    <td>{{ item.2 }}</td>
                    <td>
                        <form method="GET" action="{{ url_for('my_future_reading_list_transfer', book_id=item[0]) }}">
                            <input type="submit" value="Move Book to Currently Reading List"/></form>
                    </td>
                    <td>
                        <form method="GET"
                              action="{{ url_for('my_future_reading_list_books_delete', book_id=item[0]) }}">
                            <input type="submit" onclick="return clicked();" value="Delete Book"/></form>
                        <script type="text/javascript">
                            function clicked() {
                                return confirm('Are you sure you want to delete the book?');
                            }
                        </script>
                    </td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
        </div>
    </div>
    </body>
{% endblock %}