<title>Future Reading List</title>
<body>
<h2 align="center ">My Future Reading List:</h2>
<tr>
    <ol size="small" , type="1">
        {% for item in items %}
        <li  style = "background-color: #f9f9f9">
            <b>Title:</b> {{item.1}} <br>
            <b>Author:</b> {{item.2}}<br>
            <td>
                <form method="GET" action="{{url_for('my_reading_list_books_delete', book_id=item[0]) }}">
                    <input type="submit" onclick="return clicked();" value="Delete Book"/></form>
                <script type="text/javascript">
                    function clicked() {
                        return confirm('Are you sure you want to delete the book?');
                    }
                </script>
            </td>
            <br>
        </li>
        {% endfor %}
    </ol>
</tr>
</body>
{% extends "layout.html" %}
{% block content %}
{{ super() }}
{% endblock %}