<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<body>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
<H2>Book Database Application</H2>
<H4>Welcome!</H4>
<i size = "large" class="material-icons">book</i>
<p>
    <a href="/bestsellers">Bestsellers</a>
</p>
        <a href="/newBook">Add a new book</a>
      <p>
    <a href="/booksToReadList">Books To Read</a>
</p>
</p>
<i class="material-icons">local_library</i>
      <p></p>
<a href="/logout">Log out</a>
  </nav>
</body>
</html>