<body>
<nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
    <div class="header">
        <H2>{{ session.username }}, Welcome to Book Database Application!</H2>
        <div class="content"><img src="../static/images/books.jpg" style="width:350px;height:150px;" alt=" books">
        </div>
    </div>
</nav>
<nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
        <button align="left" type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        {{ message }}
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% if error %}

        <button align="left" type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <div class="alert alert-danger">{{error}}</div>
        {% endif %}

        {% if msg %}

        <button type="button" align="left" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <div class="alert alert-success">{{msg}}</div>
        {% endif %}

    </div>
    </div>

</nav>

</nav>

{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="infobox">
            <p><a href="{{ url_for('show_books') }}"> <b>My Future Reading List </b></a> Add books that you would like
                read to your reading list.
                To get ideas for great reads, search for summaries of many famous books<br>
                <a href="{{ url_for('api_review') }}"> <b>summaries by author </b></a>
                <br>
                <a href="{{ url_for('api_review2') }}">
                    <b>summaries by title</b></a></p>
            or check out the current New York Times bestseller list <a href="{{ url_for('bestsellers') }}"> <b>bestseller
            list </b></a>
        </div>
        <br>
        <div class="infobox">
            <p><a href="{{ url_for('show_my_current_books') }}"> <b>My Currently Reading List </b></a>Add books that
                you're currently reading. Keep track of
                the current page you're on as well as story summary. Once you're done with the book, you can move
                it to your books-read list. Or alternatively, you can delete books that you're not longer reading.<br>
        </div>
        <br>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="infobox">
            <p><a href="{{ url_for('show_my_books') }}"> <b>My Books-Read List </b></a> Add books to your books-read
                list to keep track of books you have completed. You can comment on and rate
                these books.<br>
        </div>
        <br>
        <div class="infobox">
            <p><a href="{{ url_for('community') }}"> <b>Community </b></a>
                You can view various data about
                app users' reading habits, such
                as book count, books they are reading, books they have finished, comments and ratings, etc.<br>
                In addition, community contains useful links.
        </div>
    </div>
    <div>
    </div>
</div>
</body>
{{ super() }}
{% endblock %}
