<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<body>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
<H2>Book Database Application</H2>
<H4>Welcome!</H4>
<i size = "large" class="material-icons">book</i>
      <p></p>
      <td>
<button id="myButton4" class="float-left submit-button" >Current bestsellers</button>

<script type="text/javascript">
    document.getElementById("myButton4").onclick = function () {
        location.href = "/bestsellers";
    };
</script>
      </td>
      <td>
<button id="myButton2" class="float-left submit-button" >Add a new book</button>

<script type="text/javascript">
    document.getElementById("myButton2").onclick = function () {
        location.href = "/newBook";
    };
</script>
      </td>
      <td>
<button id="myButton3" class="float-left submit-button" >Books To Read</button>

<script type="text/javascript">
    document.getElementById("myButton3").onclick = function () {
        location.href = "/booksToReadList";
    };
</script>
     </td>
<p></p>
            <td>
<button id="myButton5" class="float-left submit-button" >Log out</button>
<script type="text/javascript">
    document.getElementById("myButton5").onclick = function () {
        location.href = "/logout";
    };
</script>
     </td>
        <p></p>
<i class="material-icons">local_library</i>
      <p></p>
  </nav>
</body>
</html>