{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<body>
{{ super() }}
<nav class="navbar navbar-default ">
    <div class="header">
        <h3>Book DatabaseApplication</h3>
        <H4 align="center"> Welcome!</H4>
    </div>
</nav>

<h4 align="center"> Would you like to <a href="{{ url_for('login') }}">
    <b>log in?</b></a></h4>

<h4 align="center"> Not a user yet? Sign up <a href="/sign_up">here</a></h4>
</div>
<div align="center" leftmargin="80px" class="container" style="min-height:100%; width:80%">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible" role="alert"
                     style="position: absolute; left: 0;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% if error %}
        <button align="left" type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    {% if msg %}
        <button align="left" type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <div class="alert alert-success">{{ msg }}</div>
    {% endif %}
    </div>
    {% block body %}{% endblock %}
</div>

</body>
{% endblock %}