<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href="../static/css/base.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Index</title>
</head>

<body>
<div class="wrapper"></div>
<H2  style ="text-align: center" float ="right";> Book Database Application</H2>
<H4  align ="center"> Welcome!</H4>
<p  align ="center"> Would you like to <a href="{{ url_for('login') }}">
    <b>log in?</b></a></p>

<p  align ="center"> Not a user yet? Sign up <a href="/sign_up">here</a></p>
</div>
<div   align ="center" leftmargin="80px" class="container" style="min-height:100%; width:80%">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible" role="alert" style="position: absolute; left: 0;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        {{ message }}
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% if error %}
        <button align="left" type="button" class="close" data-dismiss="alert" aria-label="Close" ><span
                aria-hidden="true">&times;</span></button>
        <div class="alert alert-danger">{{error}}</div>
        {% endif %}

        {% if msg %}
        <button align="left" type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <div class="alert alert-success">{{msg}}</div>
        {% endif %}
    </div>
    {% block body %}{% endblock %}
</div>

</body>
</html>
