{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<body>
{{ super() }}
    <style>
        /*set border to the form*/
        body {
            float: left;
        }

        login_form {
            border: 3px solid #f1f1f1;
            width: 40%;
            padding: 20px;
            position: relative;
            float: left;
        }

        /*assign full width inputs*/

        input[type=text],
        input[type=password] {
            width: 35%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }


        /*set a style for the buttons*/

        button {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 35%;
        }

        /* set a hover effect for the button*/

        button:hover {
            opacity: 0.8;
        }

        /*set padding to the container*/

        .container {
            padding: 16px;
        }

        /*set the forgot password text*/

        span.psw {
            float: left;
            padding-top: 16px;
            padding-left: 5px;
        }

        /*set styles for span and cancel button on small screens*/

        @media screen and (max-width: 150px) {
            span.psw {
                display: block;
                float: none;
            }
        }
    </style>
    <div class="header">
        <h3>Book Database Application</h3>
    </div>

    <br>
    <div>
        <form class="login_form" action="/login" method="post">
            <h3 float="left" ;> Login Form </h3>
            <div class="container">
                <label><b>Username</b></label><br>
                <input type="text" placeholder="Enter Username" name="username" required><br>

                <label><b>Password</b></label><br>
                <input type="password" placeholder="Enter Password" name="password" required><br>

                <button type="submit">Log In</button><br>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <br>
              <h4>  Not a user yet? Sign up <a href="/sign_up">here</a></h4>
                <p></p>
                <br>
            </div>
        </form>
    </div>
    </div>
</body>
{% endblock %}
