{% extends "layout.html" %}
<title>Books Read</title>
{% block content %}
    <body>
    {{ super() }}
    <nav>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% if error %}

            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}

        {% if msg %}

            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <div class="alert alert-success">{{ msg }}</div>
        {% endif %}
        {% block body %}{% endblock %}
        </div>
    </nav>
    </head>
    <div class="infobox">
        <h3 style="background-color: #EFFBFB"> {{ session.username }}'s Books-Read List:</h3>
        <ul size="small" , type="1">
            {% for item in items %}
                <li style="background-color: #f9f9f9">
                    <b>Title:</b> {{ item.1 }} <br>
                    <b>Author:</b> {{ item.2 }}<br>
                    <b> Comment:</b> {{ item.3 }}<br>
                    <b> Rating: </b> {{ item.4 }}<br>
                    <b> Genre: </b> {{ item.6 }}<br>
                    <b> Page Count: </b> {{ item.7 }}<br>
                    <b> Summary: </b> {{ item.8 }}<br>
                    <ul class="list-group"/>
                <li class="list-group-item">
                    <form method="GET" action="{{ url_for('my_books_read_update_comment', book_id=item[0]) }}">
                        <input type="submit" value="Update Comment"/></form>
                </li>
                <li class="list-group-item">
                    <form method="GET" action="{{ url_for('my_books_read_update_rating', book_id=item[0]) }}">
                        <input type="submit" value="Update Rating"/></form>
                </li>
                <li class="list-group-item">
                    <form method="GET" action="{{ url_for('my_books_read_update_genre', book_id=item[0]) }}">
                        <input type="submit" value="Update Genre"/></form>
                </li>
                <li class="list-group-item">
                    <form method="get" action="{{ url_for('my_books_read_update_summary', book_id=item[0]) }}">
                        <input type="submit" value="Update Summary"/></form>
                </li>
                <li class="list-group-item">
                    <i>Share your reading experience with the book app community by clicking the button:</i><br>
                    <form method="get" action="{{ url_for('my_books_read_share', book_id=item[0]) }}">
                        <input type="submit" value="Share with community"/></form>
                </li>
                </ul>
                </li>
            {% endfor %}
        </ol>
    </div>
    </body>
{% endblock %}