
<title>Books Read List</title>
<nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        {{ message }}
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% if error %}

        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <div class="alert alert-danger">{{error}}</div>
        {% endif %}

        {% if msg %}

        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <div class="alert alert-success">{{msg}}</div>
        {% endif %}
        {% block body %}{% endblock %}
    </div>
</nav>
</head>
{% extends "layout.html" %}
{% block content %}
<body>

<h2> {{ session.username }}'s Books-Read-List:</h2>
<tr>
    <ol size="small" , type="1">
        {% for item in items %}
        <li  style = "background-color: #f9f9f9">
            <b>Title:</b> {{item.1}} <br>
            <b>Author:</b> {{item.2}}<br>
            <b> Comment:</b> {{item.3}}<br>
            <b> Rating: </b> {{item.4}}<br>
            <b> Genre: </b> {{item.6}}<br>
            <b> Pages: </b> {{item.7}}<br>
            <td>
                <form method="GET" action="{{url_for('my_books_read_update_comment', book_id=item[0])}}">
                    <input type="submit" value="Update Comment"/></form>

            </td>


            <td>
                <form method="GET" action="{{url_for('my_books_read_update_rating', book_id=item[0])}}">
                    <input type="submit" value="Update Rating"/></form>

            </td>
            <td>
                <form method="GET" action="{{url_for('my_books_read_update_genre', book_id=item[0])}}">
                    <input type="submit" value="Update Genre"/></form>
            </td>
            <p></p>
            <i>Share your reading experience with the book app community by clicking the button below:</i>
            <p></p>
            <td>
                <form method="get" action="{{url_for('my_books_read_share', book_id=item[0]) }}">
                    <input type="submit" value="Share with community"/></form>
            </td>
        </li>
        {% endfor %}
    </ol>
</tr>

</p>
</body>
{{ super() }}
{% endblock %}