<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <script src=https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.3.0/math.min.js></script>
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Currently Reading Books</title>
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
        <div>
            <td>
                <button id="myButton4" style="background-color: slateblue" class="float-left submit-button">Current
                    Bestsellers
                </button>
                <script type="text/javascript">
                    document.getElementById("myButton4").onclick = function () {
                        location.href = "/bestsellers";
                    };
                </script>
            </td>
            <td>

                <button id="myButton9" style="background-color: darkolivegreen" class="float-left submit-button">
                    Summaries by Book Title
                </button>
                <script type="text/javascript">
                    document.getElementById("myButton9").onclick = function () {
                        location.href = "/summary";
                    };
                </script>
            </td>
        </div>
        <td>
            <button id="myButton8" style="background-color: #66afe9" class="float-left submit-button">Summaries by
                Author
            </button>
            <script type="text/javascript">
                document.getElementById("myButton8").onclick = function () {
                    location.href = "/summary2";
                };
            </script>
        </td>

        <td>
            <button id="myButton3" style="background-color: lightgreen" class="float-left submit-button">My Future
                Reading List
            </button>
            <script type="text/javascript">
                document.getElementById("myButton3").onclick = function () {
                    location.href = "/books_to_read_list";
                };
            </script>
        </td>
        </div>
        <td>
            <button id="myButton6" style="background-color:aquamarine" class="float-left submit-button">My Books-Read
                List
            </button>
            <script type="text/javascript">
                document.getElementById("myButton6").onclick = function () {
                    location.href = "/my_books_read";
                };
            </script>
        </td>
        <td>
            <button id="myButton16" style="background-color: #66afe9 " class="float-left submit-button">Useful Links
            </button>
            <script type="text/javascript">
                document.getElementById("myButton16").onclick = function () {
                    location.href = "/links";
                };
            </script>
        </td>
        <td>
            <button id="myButton" class="float-left submit-button">Home</button>
            <script type="text/javascript">
                document.getElementById("myButton").onclick = function () {
                    location.href = "/home";
                };
            </script>
        </td>
        <form>
            <input type="button" class="float-left submit-button" value="Back" onclick="history.back()">
        </form>
    </nav>
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
        <td>
            <button id="myButton2" style="background-color: #e4b9c0" class="float-left submit-button">Add a new book to
                your Future <b>Reading</b> List
            </button>
            <script type="text/javascript">
                document.getElementById("myButton2").onclick = function () {
                    location.href = "/new_book";
                };
            </script>
        </td>
        <td>
            <button id="myButton11" style="background-color: #afd9ee" class="float-left submit-button">Add a book to
                your <b>Currently-Reading </b>List
            </button>
            <script type="text/javascript">
                document.getElementById("myButton11").onclick = function () {
                    location.href = "/add_current_book";
                };
            </script>
        </td>
        <td>
            <button id="myButton7" style="background-color: #faebcc" class="float-left submit-button">Add a new book to
                your <b>Books-Read</b> List
            </button>
            <script type="text/javascript">
                document.getElementById("myButton7").onclick = function () {
                    location.href = "/add_book";
                };
            </script>
        </td>
        <td>
            <button id="myButton15" style="background-color: #9999ff" class="float-left submit-button">Add a Useful Link
            </button>
            <script type="text/javascript">
                document.getElementById("myButton15").onclick = function () {
                    location.href = "/add_link";
                };
            </script>
        </td>
        <td>
            <button id="myButton12" style="background-color: #67b168" class="float-left submit-button">Community
            </button>
            <script type="text/javascript">
                document.getElementById("myButton12").onclick = function () {
                    location.href = "/stats";
                };
            </script>
        </td>
        <td>
            <button id="myButton5" style="background-color: #1b6d85" class="float-left submit-button">Log out</button>
            <script type="text/javascript">
                document.getElementById("myButton5").onclick = function () {
                    location.href = "/logout";
                };
            </script>
        </td>
        </div>
        </div>
        </div>
    </nav>
</head>
<body>
<h2>My Currently Reading List:</h2>
<tr>
    <ol size="small" , type="1">
        {% for item in items %}
        <li>
            <b>Title:</b> {{item.1}} <br>
            <b>Author:</b> {{item.2}}<br>
            <b>Genre:</b> {{item.3}}<br>
            <b>Plot Summary/Content: </b> {{item.4}}
            <td>
                <form method="GET" action="{{url_for('my_current_books_update_summary', book_id=item[0])}}">
                    <input type="submit" value="Update Plot Summary/Content"/></form>
            </td>
            <b>Current Page: </b> {{item.5}}
            <td>
                <form method="GET" action="{{url_for('my_current_books_update', book_id=item[0])}}">
                    <input type="submit" value="Update Current Page"/></form>
            </td>
            <b>Page Count: </b> {{item.6}}<br>
            You've read: <u> <b>{{item.8}}</b></u> % of the book.
            <p></p>
            <progress max="100" value="{{item.8}}"></progress>
            <p></p>
            <i>Done with the book? Move the book to your books-read list by clicking the button below:</i>
            <td>
                <form method="get" action="{{url_for('my_current_books_completed', book_id=item[0]) }}">
                    <input type="submit" value="Add to Books-Read list"/></form>
            </td>
            <i>No longer reading the book? You can safely delete it by clicking the button below:</i>
            <td>
                <form method="GET" action="{{url_for('my_current_books_delete', book_id=item[0]) }}">
                    <input type="submit" onclick="return clicked();" value="Delete Book"/></form>
                <script type="text/javascript">
                    function clicked() {
                        return confirm('Are you sure you want to delete the book?');
                    }
                </script>
            </td>

        </li>
        <br>
        {% endfor %}
    </ol>
</tr>
</body>
</html>