<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>My Books</title>
</head>
<body>
<h2>I'm reading the following books:</h2>
<tr>
<ol size ="small", type = "1" >
      {% for item in items %}

    <li>  <b>Title:</b> {{item.1}} <br>
          <b>Author:</b> {{item.2}}<br>
          <b>Genre:</b> {{item.3}}<br>
          <b>Plot Summary/Content: </b> {{item.4}}<br>
          <b>Current Page: </b> {{item.5}}<br>
          <b>Number of Pages: </b> {{item.6}}<br>
        <td><form method="GET" action="{{url_for('my_current_books_delete', book_id=item[0]) }}">
            <input type="submit" value="Delete Book"/></form></td><br>
     </li>
     {% endfor %}
    </ol>
</tr>
<p>
         <td>
<button id="myButton11" class="float-left submit-button" >Add to books you're currently reading</button>
          <script type="text/javascript">
    document.getElementById("myButton11").onclick = function () {
        location.href = "/add_current_book";
    };
</script>
      </td>
<td>
<button id="myButton" class="float-left submit-button" >Home</button>
<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "/home";
    };
</script>
</td>
      <td>
<button id="myButton5" class="float-left submit-button" >Log out</button>
<script type="text/javascript">
    document.getElementById("myButton5").onclick = function () {
        location.href = "/logout";
    };
</script>
     </td>

</p>
</body>
</html>