<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <title>Title</title>
</head>

<body>
<h2>Add a book to your reading list!</h2>
<p></p>
<!--<td>-->
<!--    <select name="item" >-->
<!--  <option size= "large", value="{{items[0]}}" selected>{{items[0]}}</option>-->
<!--  {% for item in items[:] %}-->
<!--    <option value="{{item}}">{{item}}</option>-->

<!--  {% endfor %}-->
<!--</select>-->
<!--</td>-->
<p></p>
<form action="/newBook" method="post">
Title: <input type="text" name="title">
<p>
Author: <input type="text" name="author">
<p>
<input type="submit" value="Add a book">
</form>
      <td>
<button id="myButton" class="float-left submit-button" >Home</button>
<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "/home";
    };
</script>
     </td>
      <td>
<button id="myButton5" class="float-left submit-button" >Log out</button>
<script type="text/javascript">
    document.getElementById("myButton5").onclick = function () {
        location.href = "/logout";
    };
</script>
     </td>
</body>
</html>