<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<h2>Add a book to your reading list!</h2>
<p></p>
<td>
    <select name="item" >
  <option size= "large", value="{{items[0]}}" selected>{{items[0]}}</option>
        x = []
  {% for item in items[:] %}
    <option value="{{item}}">{{item}}</option>
x = {{item}}.split(", "}}
        print(x[0])
    <script>
<!--    add functionality to add books to "books to read" list-->
choice = `${{item}}`
s2 = choice.substr(1);
x = s2.split(", ")
console.log('full entry', x)
console.log('Title: ', x[0])
console.log('Author: ', x[1])

</script>

  {% endfor %}
</select>
</td>
<p></p>
<form action="/newBook" method="post">
Title: <input type="text" name="title">
<p>
Author: <input type="text" name="author">
<p>
<input type="submit" value="Add a book">
</form>
      <td>
<button id="myButton" class="float-left submit-button" >Home</button>
<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "/home";
    };
</script>
     </td>
      <td>
<button id="myButton5" class="float-left submit-button" >Log out</button>
<script type="text/javascript">
    document.getElementById("myButton5").onclick = function () {
        location.href = "/logout";
    };
</script>
     </td>
</body>
</html>