<title>Search by Author</title>

{% extends "layout.html" %}
{% block content %}
    {{ super() }}
    <body>
    <nav class="navbar-default">
        <h3>Search by Author Name</h3>
        <div class=" formbox">
            <form  action="/summary2" method="post">
                First Name: <input type="text" name="firstname" placeholder="* required">
                <p>
                    Last Name: <input type="text" name="lastname" placeholder="* required">
                <p>
                    <input type="submit" value="Submit">
            </form>
        </div>
    </nav>
    </body>
{% endblock %}