{% extends "layout.html" %}
<title>Search by Title</title>
{% block content %}
    <body>
    {{ super() }}
    <nav class="navbar-default">
        <h3>Search by Title</h3>
        <div class=" formbox">
            <form action="/summary" method="post">
                Title: <input type="text" name="title">

                <input type="submit" value="Submit">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            </form>
        </div>
    </nav>
    </body>
{% endblock %}