{% extends "layout.html" %}
{% block title %}Search by Author{% endblock %}
{% block content %}
    {{ super() }}
    <body>
    <nav class="navbar-default">
        <h3 style="background-color: #EFFBFB">Search by Author Name</h3>
        <div class=" formbox">
            <form action="/summary2" method="post">
                First Name: <input type="text" name="firstname" placeholder="* required">
                <p>
                    Last Name: <input type="text" name="lastname" placeholder="* required">
                <p>
                    <input type="submit" value="Submit">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            </form>
        </div>
    </nav>
    </body>
{% endblock %}