<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <title>Sign Up</title>
</head>
<body>
<form action="/sign_up" method="post">
    Username: <input type="text" placeholder="must be 6-15 characters" name="username">
    <p>
        Password: <input type="password" placeholder="must be 6-15 characters" name="password">
    <p>

    <div class="form-group">
       Confirmation:  <input class="form-control" name="confirmation" type="password"/>
    </div>
       <input type="submit" value="Sign up">
</form>
<form>
    <input type="button" value="Back" onclick="history.back()">
</form>
</body>
</html>
