{% extends "layout.html" %}
<title>Summaries by Title</title>
{% block content %}
<body>
{{ super() }}
<h4>Summaries of {{title}}:</h4>
<tr>
    <ol size="small" , type="1">
        {% for item in items %}
        <li>
            {{item}}
        </li>
        {% endfor %}
    </ol>

</tr>
<h4>Links to Reviews:</h4>
<tr>
    <ol size="small" , type="1">
        {% for link in links %}
        <li class="list-group-item"><a href={{link}}>{{link}}</a></li>
        {% endfor %}
    </ol>
</tr>
</body>
{% endblock %}